@charset 'utf-8';

.container {
    width: 600px;
    margin: 0 auto;
}

/* navi */

nav ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

nav li {
    float: left;
    cursor: pointer;
    opacity: 0.6;
}

nav li + li {
    margin-left: 6px;
}

nav li:hover{
    opacity: 1;
}

nav li.current{
    opacity: 1;
}